
<div style="text-align: center">
    <span>
        <h1>
            <a href="{% url 'beer:index' %}" style="color: black; text-decoration: none;"
                class="Home_logo hl Home_header_logo">
                광주맥주축제
            </a>
        </h1>
    </span>
</div>
{#    <div class="Home_header_button">#}
{#        <span class="mx-2">#}
{#            <a href="ver1">맥주간 유사도 기반 추천</a>#}
{#        </span>#}
{#        <span class="mx-2">#}
{#            <a href="ver2">내 평점이 반영된 맥주 추천</a>#}
{#        </span>#}
{#        <span class="mx-2">#}
{#            <a href="index">게시판</a>#}
{#        </span>#}
{#        <span class="mx-2">#}
{#            <a href="{% url 'subscribeapp:list' %}">#}
{#                축제소개#}
            {#            </a>#}
{#        </span>#}
{#        <span class="mx-2">#}
{#            <a href="{% url 'subscribeapp:list' %}">#}
{#                오시는길#}
{#            </a>#}
{#        </span>#}
{##}
{#    </div>#}
{#</div>#}